body {
    padding:0 60px 0 60px;
    font-family: 'Pathway Extreme', sans-serif;
    margin: 0;
    color: #76736E;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 28px;
}

.navbar-left {
    display: flex;
    align-items: center;
  }

  .navbar-right {
    display: flex;
    align-items: center;
  }

a {
    text-decoration: none;
    color: #76736E;
}

.navbar-logo {
    margin-right: 20px;
}

.navbar-home {
    font-weight: bold;
}

.navbar-home:hover {
    color: #F03434;
}

.navbar-home:active {
    font-size: large;
}

.logout {
    color: #636364;
    padding-left: 15px;
}

.logout:hover {
    color: #F03434;
}

.logout:active {
    font-weight: bold;
}

.login {
    font-weight: bold;
}

.login:hover {
    color: #F03434;
}

.login:active {
    font-size: large;
}

.hero-search {
    background-color: #F9F6F1;
    padding: 60px;
    margin-top: 100px;
}

.search-container {
    max-width: 45%;
}

h1 {
    font-size: 40px;
    color: black;
    margin: 0 0 20px 0;
}



.search-label {
  position: relative;
}

.search-icon {
  position: absolute;
  left: 10px; /* Adjust the position as needed */
  top: 50%; /* Adjust the position as needed */
  transform: translateY(-50%);
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
}

.search-button {
    color: white;
    font-weight: bold;
    background-color: black;
    padding: 15px;
    border-radius: 3px;
    margin-left: 20px;
    font-family: 'Pathway Extreme', sans-serif;
    border: 0;
}

.search-button:hover {
    color: black;
    background-color: #F03434;
}

.search-button:active {
    background-color: #F9F6F1;
    border: #F03434 2px solid;
}

.search-input {
  padding:15px 32px 15px 32px;
}

.search-input:placeholder-shown {
    font-family: 'Pathway Extreme', sans-serif;
    color: #76736E;
    padding-left: 35px;
    border: solid 1px #b3b3b3;
    border-radius: 3px;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.add-campground-container {
    margin-top: 20px;
}

.add-campground {
    text-decoration: underline;
}

.add-campground:hover {
    color: #F03434;
}

.add-campground:active {
    color: #F03434;
    font-weight: bold;
}



.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}

.card {
    width: 30%;
    border: 1px solid #cacaca;
    border-radius: 8px;
    padding: 10px;
    margin: 30px 0;
}

.card-image {
    border-radius: 5px;
    width: 100%;
}

h2 {
    color: black;
    font-size: 18px;
}

.card-paragraph {
    height: 3.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font-size: 16px;
}

.card-link {
    position: relative;
    font-weight: bold;
    color: black;
    padding: 10px 10px;
    text-align: center;
    border: 1px solid #cacaca;
    border-radius: 3px;
}

.card-link-text {
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #cacaca;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    padding: 15px 0 15px 0;
}

.card-link-text:hover {
    color: #F03434;
}

.card-link-text:active {
    color:#F03434;
    background-color: white;
    border: 2px solid #F03434;
}

.footer-logo {
    margin: 20px 0 50px 0;
}